<p><%== @content?@content:""%></p>
<ul>
<li>Route <a href="<%="/#{I18n.locale}/language/en/code"%>">/language/:lang/:code</a> fails!</li>
<li>Route <a href="<%="/#{I18n.locale}/sprache/en/code"%>">/sprache/:lng/:code</a> works!</li>
</ul>